In [21]:
# making a table in pandas
## STRUCTURE ##

"""
                                Gender
--------------------------------------------------------------------
                   Female                           Male
--------------------------------------------------------------------
AGE
--------------------------------------------------------------------
    N
    Mean
    Range
--------------------------------------------------------------------
RACE
    White
    Black/African
    Hispanic/Latino
    Asian
    Chinese

"""

'\n                        Gender\n--------------------------------------------------------------------\n         Female                        Male\n--------------------------------------------------------------------\nAGE\n--------------------------------------------------------------------\n    N\n    Mean\n    Range\n--------------------------------------------------------------------\nRACE\n    White\n    Black/African\n    Hispanic/Latino\n    Asian\n    Chinese\n\n'

In [8]:
#imports
import numpy as np
import pandas as pd

In [2]:
clinical_data_file = "final_edited_clinical_data.xlsx"

df = pd.read_excel(clinical_data_file,
                   sheet_name=0,
                   header=0,
                   index_col=False,
                   keep_default_na=True
                   )

In [3]:
print(df)
print(df.columns)

     Age      SEX      Ethnicity Category              Race_Category
0    63.0    Male                     NaN                        NaN
1    66.0    Male                     NaN                        NaN
2    79.0  Female  Not Hispanic Or Latino                      White
3    59.0    Male  Not Hispanic Or Latino                      White
4    63.0    Male      Hispanic Or Latino                      White
..    ...     ...                     ...                        ...
150  43.0  Female                     NaN                      Asian
151  51.0  Female  Not Hispanic Or Latino  Black or African American
152  72.0  Female  Not Hispanic Or Latino  Black or African American
153  56.0  Female  Not Hispanic Or Latino                      White
154  55.0  Female                     NaN                        NaN

[155 rows x 4 columns]
Index(['Age ', 'SEX', 'Ethnicity Category', 'Race_Category'], dtype='object')

In [4]:
import pandas as pd

# Load your data into a pandas DataFrame
clinical_data_file = "final_edited_clinical_data.xlsx"
df = pd.read_excel(clinical_data_file)

# Standardise the gender categories
df['SEX'] = df['SEX'].str.title()

# Create a pivot table
pivot_df = pd.pivot_table(df,
                          values='Age ', 
                          index='Race_Category',  
                          columns='SEX',
                          aggfunc=['count', 'mean'],
                          fill_value=0)

# Print the pivot table
print(pivot_df)

                                           count            mean
SEX                                       Female Male     Female   Male
Race_Category
Asian                                          3    2  55.666667  60.50
Black or African American                      5    2  59.600000  62.50
Caucasian                                      0    3   0.000000  64.00
Native Hawaiian or Other Pacific Islander      1    0  55.000000   0.00
Other/Unavailable/Not Reported                 0    1   0.000000   0.00
White                                         22   20  55.954545  63.05
White Non-Hispanic                             0    0        NaN    NaN

In [39]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\najma\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\najma\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
# Standardise 
df['SEX'] = df['SEX'].str.title()  # This will change 'MALE' and 'female' to 'Male' and 'Female'

# Now recreate your summaries and counts with the standardized categories
age_summary = df.groupby('SEX')['Age '].agg(['count', 'mean', 'min', 'max'])  # Make sure to include the space after 'Age'
age_summary['Range'] = age_summary.apply(lambda x: f"{x['min']} - {x['max']}", axis=1)
age_summary = age_summary[['count', 'mean', 'Range']]
age_summary.rename(columns={'count': 'N', 'mean': 'Mean'}, inplace=True)

race_counts = df.groupby('SEX')['Race_Category'].value_counts().unstack(fill_value=0)

# Combine age and race data
combined_stats = pd.concat([age_summary, race_counts], axis=1)


combined_stats = combined_stats.T
combined_stats.reset_index(inplace=True)


# Convert to Markdown
table_markdown = combined_stats.to_markdown(index=False)
print(table_markdown)

| index                                     | Female             | Male               |
|:------------------------------------------|:-------------------|:-------------------|
| N                                         | 59                 | 68                 |
| Mean                                      | 60.007118644067795 | 61.921617647058824 |
| Range                                     | 0.0 - 90.0         | 0.0 - 90.0         |
| Asian                                     | 3                  | 2                  |
| Black or African American                 | 5                  | 2                  |
| Caucasian                                 | 0                  | 3                  |
| Native Hawaiian or Other Pacific Islander | 1                  | 0                  |
| Other/Unavailable/Not Reported            | 0                  | 1                  |
| White                                     | 22                 | 20                 |
| White Non-Hispanic                        | 0                  | 1                  |

In [41]:
import pandas as pd

# Standardise the gender categories
df['SEX'] = df['SEX'].str.title()

# Calculate AGE statistics
age_stats = df.groupby('SEX')['Age '].agg(['count', 'mean', 'min', 'max']).rename(columns={'count': 'N', 'mean': 'Mean'})
age_stats['Range'] = age_stats.apply(lambda x: f"{x['min']} - {x['max']}", axis=1)
age_stats.drop(['min', 'max'], axis=1, inplace=True)

# Calculate RACE counts
race_counts = df.groupby(['SEX', 'Race_Category']).size().unstack(fill_value=0)

# Combine AGE and RACE statistics into a single DataFrame
combined_stats = pd.concat([age_stats, race_counts], axis=1)
combined_stats.reset_index(inplace=True)  # Reset index to make 'SEX' a column

# Export the DataFrame to Excel
combined_stats.to_excel('combined_stats.xlsx', index=False)

print("The combined statistics have been exported to 'combined_stats.xlsx'.")

The combined statistics have been exported to 'combined_stats.xlsx'.

In [6]:
import pandas as pd
import numpy as np
import zentables as zen

# Load your data into a pandas DataFrame
clinical_data_file = "final_edited_clinical_data.xlsx"
df = pd.read_excel(clinical_data_file)


df['SEX'] = df['SEX'].str.title()

# Calculate AGE statistics
age_stats = df.groupby('SEX')['Age '].agg(['count', 'mean', 'min', 'max']).rename(columns={'count': 'N', 'mean': 'Mean'})
age_stats['Range'] = age_stats.apply(lambda x: f"{x['min']} - {x['max']}", axis=1)
age_stats.drop(['min', 'max'], axis=1, inplace=True)

# Calculate RACE counts
race_counts = df.groupby(['SEX', 'Race_Category']).size().unstack(fill_value=0)

# Combine AGE and RACE statistics
combined_stats = pd.concat([age_stats, race_counts])



# Display the table using zentables
zen_table = zen(combined_stats, apa=True, columns=['Female', 'Male'])

# Show the table in Jupyter Notebook
zen_table

TypeError: 'module' object is not callable